@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="clearfix"></div>
    <div class="row">
        <img src="~/Scripts/image/USA.png" class="custom-map" usemap="#Map" border="0" />
        <map name="Map" id="Map">
            <area shape="poly" coords="286,342,282,339,279,333,281,328,284,325,287,326,290,329,292,332,290,337,290,341,289,343,284,333" href="#" alt="Ventura" />
            <area shape="poly" coords="311,349,306,343,304,336,308,329,314,329,317,334,318,340,315,345" href="#" alt="Riverside" />
            <area shape="poly" coords="245,99,240,93,237,89,238,80,245,78,250,80,249,87,247,94" href="#" alt="Washington State Patrol" />
            <area shape="poly" coords="353,311,348,306,346,297,352,291,357,294,358,301,356,306" href="#" alt="Lake Mead" />
            <area shape="poly" coords="461,325,456,320,453,313,457,307,462,307,466,311,465,318,463,322" href="#" alt="Bern alillo" />
            <area shape="poly" coords="483,248,480,243,478,240,477,233,482,226,487,229,488,233,487,240,485,243" href="#" alt="Colorado State Patrol" />
            <area shape="poly" coords="525,333,522,328,519,320,523,313,530,315,531,324,528,330" href="#" alt="Randall Country" />
            <area shape="poly" coords="517,385,514,379,511,373,512,365,520,364,524,368,521,375,520,379,515,364" href="#" alt="Odessa" />
            <area shape="poly" coords="602,219,597,214,596,208,598,201,606,201,608,204,609,209,606,214" href="#" alt="Douglas Country" />
            <area shape="poly" coords="639,291,643,285,644,280,643,274,637,272,633,276,634,282,636,286" href="#" alt="Greene Country" />
            <area shape="poly" coords="686,415,683,410,680,401,681,405,682,396,686,397,689,399,689,404,687,409" href="#" alt="New Orleans" />
            <area shape="poly" coords="685,395,689,396,691,400,690,406,688,393,692,394,694,398,694,402,693,405" href="#" alt="test" />
            <area shape="poly" coords="765,405,762,401,760,396,760,391,763,388,766,387,770,389,771,393,769,399,767,402" href="#" alt="Tallahassee" />
            <area shape="poly" coords="761,350,760,345,757,341,756,335,761,331,765,333,767,336,766,342,764,345" href="#" alt="Cobb Country" />
            <area shape="poly" coords="839,349,836,345,833,340,834,334,838,331,843,332,845,335,845,340,843,343" href="#" alt="Horry Country" />
            <area shape="poly" coords="731,312,729,307,726,302,725,296,729,293,734,293,737,296,736,302,734,307" href="#" alt="Bernalillo" />
            <area shape="poly" coords="873,294,872,289,869,284,868,277,873,275,879,277,880,282,878,288" href="#" alt="York Country" />
            <area shape="poly" coords="857,266,855,261,853,254,852,247,857,247,862,249,863,254,860,260" href="#" alt="Prince William Country" />
            <area shape="poly" coords="784,237,782,232,779,228,778,222,783,218,788,219,790,224,789,229,787,232" href="#" alt="Ohio MARCS" />
            <area shape="poly" coords="713,217,711,212,708,207,707,201,712,198,717,200,718,205,715,210" href="#" alt="Will Country" />
            <area shape="poly" coords="714,198,718,200,719,204,717,209,720,213,722,207,724,202,724,196,719,194,715,194" href="#" alt="Cook Country" />
            <area shape="poly" coords="699,196,702,192,703,188,705,181,699,177,693,181,694,187,697,190" href="#" alt="Rick Country" />
            <area shape="poly" coords="712,167,713,162,716,158,717,153,712,148,707,149,705,154,707,159,709,163" href="#" alt="Calumet Country" />
            <area shape="poly" coords="749,189,750,185,753,180,753,174,750,169,743,171,742,175,744,180,745,184" href="#" alt="Kent Country" />
            <area shape="poly" coords="761,193,764,188,767,183,766,178,762,176,758,177,757,183,758,188" href="#" alt="Michigan State Police" />
            <area shape="poly" coords="771,181,772,176,775,171,775,165,771,161,766,164,764,169,766,173,768,175" href="#" alt="Saginaw" />
        </map>
    </div>
</div>
