@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="clearfix"></div>
    <div class="row">
        <img src="~/Scripts/image/USA.png" class="custom-map" width="1050" height="600" usemap="#Map" border="0" />
        <map name="Map" id="Map">
            <area shape="poly" coords="190,409,187,405,183,401,182,393,185,387,191,386,194,388,196,391,196,397,194,401,192,404" href="#" alt="Ventura" />
            <area shape="poly" coords="222,415,219,409,216,405,214,400,219,394,225,394,229,397,230,403,226,409" href="#" alt="Riverside" />
            <area shape="poly" coords="274,374,275,370,272,365,269,361,267,353,271,349,279,348,283,353,282,360,279,366" href="#" alt="Lake Mead" />
            <area shape="poly" coords="415,389,412,384,408,380,407,374,408,368,414,366,419,367,423,372,420,378,417,384" href="#" alt="Bernalillo" />
            <area shape="poly" coords="444,293,441,287,438,283,437,278,438,271,443,271,449,272,450,277,450,281,448,286,446,289" href="#" alt="Colorado State Patrol" />
            <area shape="poly" coords="135,112,131,106,127,102,126,98,128,94,132,92,139,91,140,94,142,100,138,105,136,109" href="#" alt="Washington State Patrol" />
            <area shape="poly" coords="489,459,487,455,485,449,482,445,483,438,489,435,496,438,497,442,493,449,491,455" href="#" alt="Odessa" />
            <area shape="poly" coords="497,397,497,391,493,385,492,378,497,375,504,376,506,380,506,385,503,389,500,393" href="#" alt="Randall County" />
            <area shape="poly" coords="598,259,595,255,592,248,592,240,599,238,605,241,605,248,603,252" href="#" alt="Douglas Country" />
            <area shape="poly" coords="648,346,644,342,641,336,641,330,644,324,651,324,654,327,654,335,651,341,649,344" href="#" alt="Greene Country" />
            <area shape="poly" coords="707,495,705,490,702,485,701,478,703,474,707,474,712,475,713,479,712,485" href="#" alt="New Orleans" />
            <area shape="poly" coords="712,487,713,482,713,476,707,473,711,470,716,472,719,476,717,480,717,484" href="#" alt="Orleans Parish" />
            <area shape="poly" coords="811,486,810,481,807,475,804,469,808,465,811,464,815,467,818,469,817,474,815,479" href="#" alt="Tallahassee" />
            <area shape="poly" coords="806,416,809,411,812,404,811,396,806,396,801,398,801,402,801,407,804,412" href="#" alt="Cobb Country" />
            <area shape="poly" coords="906,417,904,412,902,407,900,402,903,396,908,395,912,398,912,402,911,409,908,412" href="#" alt="Horry Country" />
            <area shape="poly" coords="768,373,769,367,771,362,775,356,772,349,766,348,761,351,759,356,761,362,764,366" href="#" alt="Nashville" />
            <area shape="poly" coords="952,350,953,345,956,341,958,334,956,327,947,327,942,331,944,336,947,341" href="#" alt="York Country" />
            <area shape="poly" coords="930,317,932,312,933,307,937,302,937,295,930,293,924,294,922,300,923,307,926,310" href="#" alt="Prince William Country" />
            <area shape="poly" coords="836,281,837,276,840,270,842,263,838,257,831,257,828,262,828,267,831,273" href="#" alt="Ohio MARCS" />
            <area shape="poly" coords="743,255,740,250,736,245,735,238,740,234,745,234,748,236,749,240,748,246,746,250" href="#" alt="Will Country" />
            <area shape="poly" coords="749,247,751,251,753,249,755,243,760,238,759,234,755,229,749,228,745,229,744,233,747,235,750,240,750,244" href="#" alt="Cook Country" />
            <area shape="poly" coords="741,194,743,189,746,185,748,180,745,175,739,172,733,175,732,180,734,184,737,187" href="#" alt="Calumet Country" />
            <area shape="poly" coords="727,231,729,227,731,223,734,219,735,213,731,209,725,207,719,210,719,214,719,220,724,224" href="#" alt="Rock Country" />
            <area shape="poly" coords="790,220,792,215,795,211,797,204,793,199,786,198,782,202,782,210,785,215" href="#" alt="Kent Country" />
            <area shape="poly" coords="806,228,808,223,811,220,813,215,813,211,810,206,801,206,798,211,799,216,802,221,803,223" href="#" alt="Michigan State Police" />
            <area shape="poly" coords="818,213,820,207,822,201,823,193,819,189,813,189,810,193,810,199,813,204,815,209" href="#" alt="Saginaw" />
        </map>
    </div>
</div>
