@{
    ViewBag.Title = "My Repositories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">

    <div class="clearfix"></div>
    <div class="row">
                    <!-- <p>Simple table with project listing with progress and editing options</p> -->
                    <!-- start project list -->
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 1%">#</th>
                                <th style="width: 40%">Log Name</th>
                                <th>Customer</th>
                                <th>Status</th>
                                <th>Created</th>
                                <th>Operation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                    <a>SO_SO13_2017_02_27_14_12_30_TERM13_Log</a>
                                </td>
                                <td>
                                    SO
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-xs">Success</button>
                                </td>
                                <td>
                                    2017/03/30 09:35 AM
                                </td>
                                <td>
                                    <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a>
                                    <a href="#" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- end project list -->
                </div>
            </div>
