<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log Analize</title>

    <link href="~/Scripts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/css/log-style.css" rel="stylesheet">

</head>
<body>
    <div class="log-header">
        <div>
            <img src="~/Scripts/image/Moto.png" />
        </div>
    </div>
    <div class="log-main">
        <div class="log-sidebar">
            <nav class="log-left-nav">
                <ul>
                    <li><a class="active">Map</a></li>
                    <li><a>2</a></li>
                    <li><a>3</a></li>
                    <li><a>4</a></li>
                    <li><a>5</a></li>
                    <li><a>6</a></li>
                    <li><a>7</a></li>
                </ul>
            </nav>
        </div>
        <div class="log-content col-1 light-gray-bg">
            <div class="log-content-container">
                <div class="log-content-container-header">
                    <div class="span3 log-content-titlebar">
                    </div>
                    <div class="span3 log-content-service">
                    </div>
                    <div class="span3 log-time">
                    </div>
                    <div class="span3 log-time">
                    </div>
                </div>
                <div class="log-content-container-body">

                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/js/jquery-3.2.0.js"></script>
</body>
</html>