@{
    ViewBag.Title = "P1 Log Analysis Console - The Need For Daily Customer Issue Investigation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="clearfix"></div>
    <h5>Index</h5>
</div>